body {
    font-family: Ubuntu;
    margin: 0;
}

nav {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 18.5px);
    -webkit-backdrop-filter: blur( 18.5px);
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.nav-list {
    list-style: none;
    text-align: right;
    font-size: 20px;
}

#nav-logo {
    position: fixed;
    top: 10px;
    left: 25px;
}

.nav-links {
    vertical-align: middle;
    letter-spacing: 2px;
    padding: 15px 25px 15px 15px;
    text-align: right;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

.promo {
    z-index: 2;
}

.promo-title {
    margin-left: 275px;
    margin-top: 250px;
    font-size: 115px;
    color: #769da4;
}

.promo-subtitle {
    margin-left: 275px;
    font-size: 60px;
    font-weight: lighter;
}

.promo-img {
    position: absolute;
    top: 70px;
    right: 0px;
}

.section-title {
    font-weight: bolder;
    font-size: 65px;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 35px;
}

.card-advant-img {
    width: 75px;
    text-align: center;
}

.cardsiv {
    margin-left: 50px;
}

.card-advant-title {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.card-advant-subtitle {
    font-size: 22px;
    text-align: center;
}

.card-advantages {
    width: 20%;
    padding: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 15px 30px 15px 30px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.185);
    border-radius: 20px;
    height: 490px;
}

#central-card {
    background-color: #769da4;
    color: azure;
}

#about {
    text-align: center;
}

.ivents {
    display: flex;
    margin-top: 55px;
}

.iv-section-title {
    font-weight: bolder;
    font-size: 65px;
    text-align: left;
    margin-left: 50px;
    margin-top: 55px;
    margin-bottom: 35px;
}

.ivent-cards {
    width: 27%;
    display: inline-block;
    vertical-align: middle;
    height: 250px;
    margin: 15px 20px 5px 20px;
    padding: 15px;
}

.ivents-img {
    width: 65px;
}

.ivent-title {
    font-size: 23px;
}

.subtitle-ivents {
    font-size: 17px;
}

.cours-section-title {
    display: flex;
    text-align: left;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-right: 10px;
    color: rgb(234, 255, 255);
    text-align: justify;
}

#courses {
    background: linear-gradient(to right top, #769da4, #bfced4);
    margin: 25px 0px 25px 0px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    margin: 10px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}

.course-img {
    width: 250px;
}

.cardclub {
    padding: 20px;
    display: flex;
    width: 40%;
}

#contacts {
    background-color: rgb(209, 209, 209);
}

.subtext {
    font-size: 25px;
}

.textccs {
    text-align: right;
}

.textccs,
.text {
    margin: 35px 0px 0px 15px;
}

#name {
    padding: 10px 20px 10px 20px;
    background-color: azure;
    border: none;
    border-radius: 3px;
    margin: 7px;
    width: 250px
}

#name2 {
    padding: 10px 20px 10px 20px;
    background-color: azure;
    border: none;
    border-radius: 3px;
    margin: 7px;
    width: 560px
}


/*.sludesamega {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
  }
  
  .sludesamega-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .sludesamega-open:checked + .sludesamega-item {
    position: static;
    opacity: 100;
  }
  
  .sludesamega-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  
  .sludesamega-item img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .sludesamega-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .sludesamega-control.prev {
    left: 2%;
  }
  
  .sludesamega-control.next {
    right: 2%;
  }
  
  .sludesamega-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  
  #sludesamega-1:checked ~ .control-1,
  #sludesamega-2:checked ~ .control-2,
  #sludesamega-3:checked ~ .control-3 {
    display: block;
  }
  
  .sludesamega-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .sludesamega-indicators li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .sludesamega-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  
  .sludesamega-bullet:hover {
    color: #aaaaaa;
  }
  
  #sludesamega-1:checked ~ .control-1 ~ .sludesamega-indicators li:nth-child(1) .sludesamega-bullet,
  #sludesamega-2:checked ~ .control-2 ~ .sludesamega-indicators li:nth-child(2) .sludesamega-bullet,
  #sludesamega-3:checked ~ .control-3 ~ .sludesamega-indicators li:nth-child(3) .sludesamega-bullet {
    color: #428bca;
  }
  
  #nasetulod {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
  }*/